{% extends 'parcel/base.html' %}
{% load static %}
{% block body_block %}
    <style>

        h1 {
            color: #9961BA;
            font-size: 36px;
            margin-bottom: 20px;
            text-align: left;
            margin-left: 20px;
        }

        .notification {
            border-radius: 10px;
            padding: 10px;
            margin-bottom: 10px;
            margin-left: 15%;
            text-align: left;
            width: 70%;
            border: 1px solid #9961BA;
            background-color:  rgba(153, 97, 186, 0.2);
        }

         .notification:hover {
            background-color: rgba(153, 97, 186, 0.4);
        }
        body {
        font-family: Poppins;
        margin: 0;
        padding: 0;
    }

    .container {
        display: flex;
        flex-direction: row;
        {#height: 100vh;#}

    }

    .section {
        flex: 1;
        padding: 20px;
        border: 1px solid #ccc;
        overflow-y: auto;
        border: none;
    }

    .section-heading {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
        text-align: left;
    }

    .messages {
        list-style-type: none;
        padding: 0;
    }

    .message {
        margin-bottom: 10px;
        padding: 10px;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
    }

    .message-content {
        font-size: 14px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    </style>
    <div class="container">
        <div class="section">
            <h2 class="section-heading">My Parcel Request</h2>
            <ul class="messages">
                {% for request in parcel_requests %}
                <li class="message">
                    <div class="message-content">
                    <div>
                        <p > <b> Sender : </b> {{ request.sender }} </p>
                        <p> <b> Receipent : </b> {{ request.recipient }} </p>
                        <p> <b> Source : </b> {{ request.source_city }} </p>
                        <p> <b> Destination : </b> {{ request.destination_city }} </p>
                        <p> <b> Description : </b> {{ request.description }} </p>
{#                        <p> <b> Ride Id : </b> {{ request.ride_id }} </p>#}
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="request_id" value="{{ request.id }}">
                            <label for="is_accepted">Is Accepted:</label>
                            <select name="is_accepted" id="is_accepted">
                                <option value="Requested" {% if request.is_accepted == 'Requested' %}selected{% endif %}>Requested</option>
                                <option value="Accepted" {% if request.is_accepted == 'Accepted' %}selected{% endif %}>Accepted</option>
                                <option value="Declined" {% if request.is_accepted == 'Declined' %}selected{% endif %}>Declined</option>
                            </select>
                            <button type="submit">Submit</button>
                        </form>
                    </div>
                        <div>
                            <img src="https://res.cloudinary.com/demo/image/upload/w_400/sample.jpg" height="230" width="360">
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>

    </div>


{% endblock %}




